<!-- views/courses.hbs -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Courses</title>
    <script>
        function openEditForm(courseID, title, credits, departmentID, facultyID) {
            document.getElementById('edit-course-id').value = courseID;
            document.getElementById('edit-title').value = title;
            document.getElementById('edit-credits').value = credits;
            document.getElementById('edit-departmentID').value = departmentID;
            document.getElementById('edit-facultyID').value = facultyID;
            document.getElementById('edit-course-form').style.display = 'block';
        }
    </script>
</head>
<body>
    <h1>Courses</h1>
    <p>This is the Courses page.</p>

{{!-- Create a table --}}
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>Delete</th>
            <th>Edit</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.courseID}}</td>
            <td>{{this.title}}</td>
            <td>{{this.credits}}</td>
            <td>{{this.departmentID}}</td>
            <td>{{#if this.facultyID}}{{this.facultyID}}{{else}}Staff{{/if}}</td>
             <td>
                <form method="POST" action="/delete-course/{{this.courseID}}">
                    <button type="submit">Delete</button>
                </form>
            </td>
            <td>
                <button onclick="openEditForm('{{this.courseID}}', '{{this.title}}', '{{this.credits}}', '{{this.departmentID}}', '{{this.facultyID}}')">Edit</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<br>

{{!-- // Edit form - will remain hidden until edit button is clicked --}}

    <form id="edit-course-form" method="POST" action="/update-course" style="display: none;">
        <p>To add a new course, please enter the required information below and click `Update`!</p>
        <input type="hidden" id="edit-course-id" name="courseID">
        <label for="edit-title">Title: </label>
        <input type="text" name="title" id="edit-title" required>
        
        <label for="edit-credits">Credits: </label>
        <input type="number" name="credits" id="edit-credits">

        <select name="departmentID" id="edit-departmentID" required>
            <option value="">Select a Department</option>
            {{#each departments}}
            <option value="{{this.departmentID}}">{{this.name}}</option>
            {{/each}}
        </select>

        <select name="facultyID" id="edit-facultyID">
            <option value="">Select a Faculty Member</option>
            {{#each faculty}}
            <option value="{{this.facultyID}}">{{this.name}}</option>
            {{/each}}
        </select>

        <input type="submit" value="Update">
    </form>

<br>
<br>

<p>To add a new course, please enter the required information below and click `Submit`!</p>
<form id="add-course-form" method="POST" action="/add-course-form">
    <label for="input-title">Title: </label>
    <input type="text" name="input-title" id="input-title" required>
    
    <label for="input-credits">Credits: </label>
    <input type="number" name="input-credits" id="input-credits" required>

    {{!-- <label for="input-departmentID">Department ID: </label>
    <input type="number" name="input-departmentID" id="input-departmentID"> --}}

    <select name="input-departmentID" id="input-departmentID" required>
        <option value="">Select a Department</option>
        {{#each departments}}
        <option value="{{this.departmentID}}">{{this.name}}</option>
        {{/each}}
    </select>

    {{!-- <label for="input-facultyID">Faculty ID: </label>
    <input type="number" name="input-facultyID" id="input-facultyID"> --}}

    <select name="input-facultyID" id="input-facultyID">
        <option value="">Select a Faculty Member</option>
        {{#each faculty}}
        <option value="{{this.facultyID}}">{{this.name}}</option>
        {{/each}}
    </select>

    <input type="submit">
</form>

</body>
</html>