{{!-- # Citation for index.hbs:
# Date: 8/1/2024
# Copied from the cs340 Node Starter guide:
# Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app --}}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Departments</title>
    <style>
        /* Style invalid form fields */
        input:invalid, select:invalid {
            border: 2px solid red;
            background-color: #ffe6e6;
        }

        /* Style the input fields back to normal when they are valid */
        input:valid, select:valid {
            border: 1px solid #ccc;
            background-color: #fff;
        }
        table {
            width: 100%;
            border-collapse: collapse; 
        }

        th, td {
            border: 1px solid black; /* Set border around cells */
            padding: 8px; /* Add some padding for better readability */
            text-align: left; 
        }

        th {
            background-color: #f2f2f2; 
        }
    </style>
    {{!-- keeps edit form hidden until the update button is clicked --}}
    <script>
        function openEditForm(departmentID, name, budget) {
            document.getElementById('edit-department-id').value = departmentID;
            document.getElementById('edit-name').value = name;
            document.getElementById('edit-budget').value = budget;
            document.getElementById('edit-department-form').style.display = 'block';
        }
    </script>
</head>
<!-- index.hbs -->
<h1>Departments</h1>
<p>Viewing current departments.</p>

{{!-- Create a table --}}
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>Delete</th>
            <th>Edit</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, name and budget --}}
        {{#each data}}
        <tr>
            <td>{{this.departmentID}}</td>
            <td>{{this.name}}</td>
            <td>{{this.budget}}</td>
            <td>
                {{!-- delete button --}}
                <form method="POST" action="/delete-department/{{this.departmentID}}">
                    <button type="submit">Delete</button>
                </form>
            </td>
            <td>
                {{!-- eddit button that will call the openEditForm function when clicked --}}
                <button onclick="openEditForm('{{this.departmentID}}', '{{this.name}}', '{{this.budget}}')">Edit</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<br>
{{!-- // Edit form - will remain hidden until edit button is clicked --}}

    <form id="edit-department-form" method="POST" action="/update-department" style="display: none;">
        <p><strong>To add a new department, please enter the required information below and click `Update`!</strong></p>
        <input type="hidden" id="edit-department-id" name="departmentID">
        <label for="edit-name">Name: </label>
        <input type="text" name="name" id="edit-name" required>
        
        <label for="edit-">Budget: </label>
        <input type="number" name="budget" id="edit-budget" min="1" required>

        <input type="submit" value="Update">
    </form>

<!-- /views/index.hbs -->
<br>
<br>
{{!-- This form allows a user to add a new department --}}
<p><strong>To add a new department, please enter their information below and click `Submit`!</strong></p>
<form id="add-department-form" method="POST" action="/add-department-form">
    <label for="input-name">Name: </label>
    <input type="text" name="input-name" id="input-name" required>
    
    <label for="input-budget">Budget: </label>
    <input type="number" name="input-budget" id="input-budget" min="1" required>

    <input type="submit">
</form>

</html>