
<!-- index.hbs -->
<h1>Departments</h1>
<p>Viewing current departments.</p>

{{!-- Create a table --}}
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.departmentID}}</td>
            <td>{{this.name}}</td>
            <td>{{this.budget}}</td>
            <td>
                <form method="POST" action="/delete-department/{{this.departmentID}}">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<!-- /views/index.hbs -->
<br>
<br>
<p><strong>To add a new department, please enter their information below and click `Submit`!</strong></p>
<form id="add-department-form" method="POST" action="/add-department-form">
    <label for="input-name">Name: </label>
    <input type="text" name="input-name" id="input-name">
    
    <label for="input-budget">Budget: </label>
    <input type="text" name="input-budget" id="input-budget">

    <input type="submit">
</form>