{{!-- # Citation for faculty.hbs:
# Date: 8/8/2024
# Copied from the cs340 Node Starter guide:
# Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app --}}


<!-- views/courses.hbs -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Students</title>
    <style>
        /* Style invalid form fields */
        input:invalid, select:invalid {
            border: 2px solid red;
            background-color: #ffe6e6;
        }

        /*  Style the input fields back to normal when they are valid */
        input:valid, select:valid {
            border: 1px solid #ccc;
            background-color: #fff;
        }
        table {
            width: 100%;
            border-collapse: collapse; 
        }

        th, td {
            border: 1px solid black; /* Set border around cells */
            padding: 8px; /* Add some padding for better readability */
            text-align: left; 
        }

        th {
            background-color: #f2f2f2; 
        }
    </style>
    <script>
        // this function keeps the update form hidden until a user clickes the update button
        function openEditForm(studentID, name, dateOfBirth, gpa, isActive, departmentID, advisorID) {
            document.getElementById('edit-student-id').value = studentID;
            document.getElementById('edit-name').value = name;
            document.getElementById('edit-dateOfBirth').value = dateOfBirth;
            document.getElementById('edit-gpa').value = gpa;
            document.getElementById('edit-isActive').value = isActive;
            document.getElementById('edit-departmentID').value = departmentID;
            document.getElementById('edit-advisorID').value = advisorID;
            document.getElementById('edit-student-form').style.display = 'block';
        }
    </script>
</head>
<body>
    <h1>Students</h1>
    <p>This is the student page.</p>

{{!-- Create a table --}}
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>Delete</th>
            <th>Edit</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the facultyID, name, salary, department and advisorID, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.studentID}}</td>
            <td>{{this.name}}</td>
            <td>{{this.dateOfBirth}}</td>
            <td>{{this.gpa}}</td>
            <td>{{this.isActive}}</td>
            <td>{{#if this.departmentID}}{{this.departmentID}}{{else}}Undeclared{{/if}}</td>
            <td>{{#if this.advisorID}}{{this.advisorID}}{{else}}None{{/if}}</td>
             <td>
                {{!-- creates delete button that will delete a faculty when clicked--}}
                <form method="POST" action="/delete-student/{{this.studentID}}">
                    <button type="submit">Delete</button>
                </form>
            </td>
            <td>
                {{!-- creates udate button --}}
                <button onclick="openEditForm('{{this.studentID}}', '{{this.name}}', '{{this.dateOfBirth}}', '{{this.gpa}}', '{{this.isActive}}', '{{this.departmentID}}', '{{this.advisorID}}')">Edit</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<br>

{{!-- // Edit form - will remain hidden until edit button is clicked --}}

    <form id="edit-student-form" method="POST" action="/update-student" style="display: none;">
        <p>To edit a student, please enter the required information below and click `Update`!</p>
        <input type="hidden" id="edit-student-id" name="studentID">
        <label for="edit-name">Name: </label>
        <input type="text" name="name" id="edit-name" required>

        <label for="edit-dateOfBirth">Date of Birth: </label>
        <input type="date" name="dateOfBirth" id="edit-dateOfBirth" required>
        
        <label for="edit-gpa">GPA: </label>
        <input type="number" name="gpa" id="edit-gpa" step="0.01" max="4">

        <label for="edit-isActive">Is Active? </label>
        <select name="isActive" id="edit-isActive">
            <option value="null"></option>
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>

            {{!-- This creates a dynamic dropdown for FK values --}}
        <select name="departmentID" id="edit-departmentID">
            <option value="">Select a Department</option>
            {{#each departments}}
            <option value=""></option>
            <option value="{{this.departmentID}}">{{this.name}}</option>
            {{/each}}
        </select>

        <select name="advisorID" id="edit-advisorID">
            <option value="">Select an Advisor</option>
            {{#each advisor}}
            <option value="{{this.advisorID}}">{{this.name}}</option>
            {{/each}}
        </select>

        <input type="submit" value="Update">
    </form>

<br>
<br>
{{!-- This form allows a user to add a new student --}}
<p>To add a new student, please enter the required information below and click `Submit`!</p>
<form id="add-student-form" method="POST" action="/add-student-form">
    <label for="input-name">Name: </label>
    <input type="text" name="input-name" id="input-name" required>

    <label for="input-dateOfBirth">Date Of Birth: </label>
    <input type="date" name="input-dateOfBirth" id="input-dateOfBirth" required>

    <label for="input-gpa">GPA: </label>
    <input type="number" name="input-gpa" id="input-gpa" step="0.01" max="4">

    <label for="input-isActive">Is Active? </label>
    <select name="input-isActive" id="input-isActive">
        <option value="1">Yes</option>
        <option value="0">No</option>
    </select>

    <label for="input-departmentID">Department: </label>
    <select name="input-departmentID" id="input-departmentID">
        <option value="">Select a Department</option>
        {{#each departments}}
        <option value="{{this.departmentID}}">{{this.name}}</option>
        {{/each}}
    </select>

    <label for="input-advisorID">Advisor: </label>
    <select name="input-advisorID" id="input-advisorID" required>
        <option value="">Select an Advisor</option>
        {{#each advisor}}
        <option value="{{this.advisorID}}">{{this.name}}</option>
        {{/each}}
    </select>

    <input type="submit" value="Submit">
</form>

</body>
</html>